@font-face {
	font-family: "LXGW WenKai Mono TC";
	src: url("/fonts/LXGWWenKaiMonoTC-Regular.ttf") format("truetype");
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "LXGW WenKai Mono TC";
	src: url("/fonts/LXGWWenKaiMonoTC-Medium.ttf") format("truetype");
	font-weight: 500;
	font-display: swap;
}
